/* Input form style */
.input-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 60vh;
  height: 50vh;
}

/* Adjust input and label styles */
.input-form input[type="text"],
.input-form input[type="file"] {
  width: 80%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 15px;
}

.input-form input[type="submit"] {
  width: 40%;
  padding: 10px;
  font-size: 20px;
}


/* Leaderboard style */
.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: auto;
}

/* Optional: Adjust spacing between player cards */
.player-card {
  width: 20vh;
  height: 35vh;
  margin: 4vh;
  padding: 4vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.player-card img {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  /*border-radius: 10%; !* Make the image circular *!*/
}

.bottom-container {
  margin-top: auto;
}

.load-button {
  background-color: blue;
  color: white;
  font-size: 24px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-button:hover {
  background-color: dodgerblue;
}