/* Input form style */
.input-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 60vh;
  height: 50vh;
}

/* Adjust input and label styles */
.input-form input[type="text"],
.input-form input[type="file"] {
  width: 80%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 15px;
}

.input-form input[type="submit"] {
  width: 40%;
  padding: 10px;
  font-size: 20px;
}


/* Leaderboard style */
.leaderboard {
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  align-items: center; /* Center content horizontally */
}

.player-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Center the content vertically */
  margin-top: 50px; /* Add space from the top */
  font-size: 20px; /* Increase font size */
  margin-bottom: auto;
}

/* Optional: Adjust spacing between player cards */
.player-card {
  width: 20vh; /* Set width to make the card bigger */
  height: 35vh; /* Set height to make the card bigger */
  margin: 4vh; /* Add margin to create space between player cards */
  padding: 4vh; /* Add padding to create space inside the card */
  border: 1px solid #ccc; /* Add border for visual separation */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  text-align: center; /* Center the content horizontally */
}

.player-card img {
  width: 20vh; /* Set width of the image */
  height: 20vh; /* Set height of the image */
  object-fit: cover; /* Maintain aspect ratio and fill the space */
  /*border-radius: 10%; !* Make the image circular *!*/
}

.bottom-container {
  margin-top: auto; /* Push the button to the bottom */
}

.load-button {
  background-color: blue; /* Set background color to blue */
  color: white; /* Set text color to white */
  font-size: 24px; /* Increase font size */
  padding: 15px 30px; /* Add padding */
  border: none; /* Remove border */
  border-radius: 10px; /* Add border radius */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Add transition effect */
}

.load-button:hover {
  background-color: dodgerblue; /* Change background color on hover */
}